/* cores usadas
 body:#7AB8BF
 header:#012E40
 h1:#F2F2F2
 li:#038C8C
 borda img:orangered
 cor extra, pode ser usado:#026873
*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#7AB8BF;
} header{
    text-align: center;
    background-color:#012E40;
}
h1{
    color: #F2F2F2;
}
#opções{
    display: flex;
    justify-content:center;
    gap: 7px;
    list-style: none;
    margin-left: 800px;
}
.opção-individual{
    background-color:#038C8C;
    font-size: 20px;
    padding: 7px;
    color: blanchedalmond;
    border-radius: 7px;
    margin-top: 7px;
}
.camisa{
    padding:10px;
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}
img{
    border: orangered solid;
    border-width:3px,3px,0.1px;
}
p{
    width: 300px;
    text-align:left;
    text-justify:auto;
}